<h2 class="content-block">Lista Pessoa</h2>
<dx-data-grid
  id="gridContainer"
  [dataSource]="pessoaData"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  (onContentReady)="contentReady($event)"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxi-column dataField="nome" [groupIndex]="0"></dxi-column>
  <dxi-column
    dataField="cpf"
    caption="CPF"
    dataType="string"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="pessoa_id"
    caption="ID"
    dataType="number"
    alignment="center"
  ></dxi-column>
</dx-data-grid>
