<h2 class="content-block">Lista Pessoa Cartão</h2>
<dx-data-grid
  id="gridContainer"
  [dataSource]="pessoaCartaoData"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  (onContentReady)="contentReady($event)"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxi-column
    dataField="pessoa_cartao_id"
    caption="Pessoa Cartão ID"
    alignment="center"
    [groupIndex]="0"
  ></dxi-column>
  <dxi-column
    dataField="validade"
    caption="Validade"
    dataType="date"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="pessoa_id"
    caption="Pessoa ID"
    dataType="number"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="nome"
    caption="Nome"
    dataType="string"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="cpf"
    caption="CPF"
    dataType="string"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="cartao_id"
    caption="Cartão ID"
    dataType="number"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="codigo"
    caption="Código"
    dataType="number"
    alignment="center"
  ></dxi-column>
  <dxi-column
    dataField="created_at"
    alignment="center"
    dataType="date"
  ></dxi-column>
</dx-data-grid>
